<!-- Adding user modal -->
<!-- prettier-ignore-->
<div id="add-ticket-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 items-center justify-center hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <form action="{{url_for('ticket_order.create')}}" method="post" class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        {{ form_hidden_tag() }}
        <!-- Modal header -->
        <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
          <h2 class="text-xl font-semibold text-gray-900 dark:text-white"> Order tickets </h3>
          <button id="modalAddCloseButton" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"> <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path> </svg> </button>
        </div>
        <div class="p-4 border-b rounded-t dark:border-gray-600 mb-4 flex flex-col gap-2"> 
            <input type="hidden" id="dateHiddenInput" name="ticket_date_id" />
            <div class="text-xl font-medium text-gray-500 dark:text-gray-400">
                Floor: <span id="floorNamePlaceholder"></span>
            </div>
            <div class="text-gray-900 dark:text-white text-xl font-semibold">
                Time: <span id="timePlaceholder" class="text-2xl"></span> <input type="hidden" id="timeHiddenInput" name="ticket_time_id" />               
            </div>                        
            <div class="text-xl font-medium text-gray-500 dark:text-gray-400">
                User: {{current_user.username}} <input type="hidden" name="current_user_id" value="{{current_user.id}}"/>    
            </div>
        </div>
        <!-- Modal body -->
        <div class="p-6 space-y-6">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Ticket amount</label >
              <input type="number" name="amount" id="ticket-add-ticket-amount" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Amount" required />
            </div>
            <div class="col-span-6 sm:col-span-3">
              <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Message</label >
              <input type="message" name="message" id="ticket-add-message" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Message" />
            </div>                          
          </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
          <button name="submit" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Order</button>
        </div>
      </form>
    </div>
  </div>

  {% block scripts %}
  <!-- prettier-ignore -->

  <script src="{{ url_for('static', filename='js/ticket.js') }}" type="text/javascript" defer></script>
  {% endblock scripts %}
  