<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <!-- prettier-ignore -->
  <div class="mb-6 pt-4">
    <label for="status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Status</label>
    <input type="status" id="status" value={{bot.status.name}} readonly
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
  </div>

  <div class="flex flex-row justify-center md:justify-between items-center">
    <div class="md:order-1 md:flec-col">
      <a href="{{ url_for('bot.stop') }}">
        <button type="button"
          class="w-full md:w-auto inline-block md:max-w-xs md:inline-flex items-center mb-2 md:mb-0 md:mx-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:red-blue-800">
          Stop
        </button>
      </a>
      <a href="{{ url_for('bot.start') }}">
        <button type="button"
          class="w-full md:w-auto inline-block md:max-w-xs md:inline-flex items-center mb-2 md:mb-0 md:mx-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:blue-800">
          Start
        </button>
      </a>
      <a href="{{ url_for('bot.refresh') }}">
        <button type="button"
          class="w-full md:w-auto inline-block md:max-w-xs md:inline-flex items-center mb-2 md:mb-0 md:mx-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:green-800">
          Refresh
        </button>
      </a>
    </div>

    <div class="md:order-2 flex mt-4 md:mt-0 pr-2">
      {% include 'bot/schedule_form.html' %}
    </div>

    <div class="md:order-3 md:flex-col">
      <a href="{{ url_for('bot.reset_log') }}">
        <button type="button"
          class="w-full md:w-auto inline-block md:max-w-xs md:inline-flex items-center mb-2 md:mb-0 md:mx-2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:red-blue-800">
          Clear Log
        </button>
      </a>
      <a href="{{ url_for('bot.reset') }}">
        <button type="button"
          class="w-full md:w-auto inline-block md:max-w-xs md:inline-flex items-center mb-2 md:mb-0 md:mx-2 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:red-blue-800">
          Reset bot
        </button>
      </a>
    </div>
  </div>
  

  <div class="py-4 bg-white dark:bg-gray-800">
    <div class="overflow-x-auto">
      <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-3 py-2 md:px-6 md:py-3">Time</th>
            <th scope="col" class="px-3 py-2 md:px-6 md:py-3">Level</th>
            <th scope="col" class="px-3 py-2 md:px-6 md:py-3">Message</th>
          </tr>
        </thead>
        <tbody>
          {% for log in bot_logs %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td>
              <span class="block text-base ps-3 font-mono text-gray-900 whitespace-nowrap dark:text-white">
                {{ log.created_at.strftime('%H:%M:%S') }}
              </span>
            </td>
            <td>
              <span class="block text-base ps-3 font-mono text-gray-900 whitespace-nowrap dark:text-white">
                {{ log.level.name }}
              </span>
            </td>
            <td>
              <span class="block text-base ps-3 font-mono text-gray-900 whitespace-nowrap dark:text-white">
                {{ log.message }}
              </span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  
</div>

{% if page.pages > 1 %}
<div class="container content-center mt-3 flex bg-white dark:bg-gray-800">
  <nav aria-label="Page navigation example" class="mx-auto">
    <ul class="inline-flex items-center -space-x-px">
      <li>
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page=1"
          class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">First</span>
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>
      <li>
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page={{page.page-1 if page.page > 1 else 1}}"
          class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <span class="sr-only">Previous</span>
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>

      <!-- prettier-ignore -->
      {% for p in page.pages_for_links %}
      <li>
        <!-- prettier-ignore -->
        {% if p == page.page %}
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page={{p}}" aria-current="page"
          class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">{{p}}</a>
        {% else %}
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page={{p}}"
          class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{p}}</a>
        {% endif %}
      </li>
      {% endfor %}

      <li>
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page={{page.page+1 if page.page < page.pages else page.pages}}"
          class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <!-- prettier-ignore -->
          <span class="sr-only">Next</span>
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>
      <li>
        <!-- prettier-ignore -->
        <a href="{{ url_for('bot.index') }}?page={{page.pages}}"
          class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <!-- prettier-ignore -->
          <span class="sr-only">Last</span>
          <!-- prettier-ignore -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
              d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
              clip-rule="evenodd" />
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</div>
{% endif %}

<!-- prettier-ignore -->
{% endblock content %}
<!-- prettier-ignore -->
{% block scripts %}
<!-- prettier-ignore -->
<script src="{{ url_for('static', filename='js/bot.js') }}" type="text/javascript" defer></script>
{% endblock scripts %}