<!-- prettier-ignore -->
{% extends 'base.html' %}
{% block content %}
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <h2 class="my-5 font-bold text-gray-900 dark:text-white"> Tasks </h2>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
    {% include 'task/period_form.html' %} 
    {% include 'task/date_form.html' %} 

  </div>
</div>

{% endblock %}
<!-- prettier-ignore -->
{% block scripts %}
<script
  src="{{ url_for('static', filename='js/ticket.js') }}"
  type="text/javascript"
  defer></script>

{% endblock %}
