<div class="flex items-center justify-center py-4 bg-white dark:bg-gray-800">
    <!-- prettier-ignore -->
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Name</th>
                <th scope="col" class="px-6 py-3">Trigger</th>
                <th scope="col" class="px-6 py-3">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td>
                    <span class="p-4 text-base font-mono text-gray-900 whitespace-nowrap dark:text-white">
                        {{ task.name }}
                    </span>
                </td>
                <td>
                    <span class="p-4 text-base font-mono text-gray-900 whitespace-nowrap dark:text-white">
                        {{ task.trigger }}
                    </span>
                </td>
                <td>
                    <span class="p-4 text-base font-mono text-gray-900 whitespace-nowrap dark:text-white">
                        hardcoded status
                    </span>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>